{
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 240,
        "parser": "go-template",
        "singleQuote": false
      }
    }
  ],
  "goTemplateBracketSpacing": true
}
